body {
    margin: 0px;
    height: 100%;
    font-family: 'Roboto'
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #1F2937;

}

.header-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links, a {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 10px;

    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;

}

.header-content-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-sign-up {
    display: flex;
    align-content: center;
    justify-content: center;    
    
    border: 0px;
    width: 80px;
    margin: 10px;
    padding: 5px;
}

.placeholder-image {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-items: center;
    color:#E5E7EB;
    background-color: lightslategray;
    padding: 10px;
    margin: 20px;
}




.content-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.content-border{
    border: 5px solid;
    border-color: red;
    
    padding: 10px;
    margin: 10px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fake-image {
    border: 5px solid;
    border-color: lightskyblue;
    
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.image-subtext {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
}

.quote-text {
    font-style: italic;
}

.quote-author {
    font-weight: bolder;
}

.encart {
    background-color: #3882F6;
}

.encart-sign-up ,.header-sign-up {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

