body {
    margin: 0px;
    height: 100%;
    font-family: 'Roboto';
}

.header {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;

    background-color: #1F2937;
}

.header-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;    

    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.links, a {
    display: flex;
    gap: 20px;

    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.header-content-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;  
}

.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-sign-up {
    display: flex;
    justify-content: center;    
    border: 0px;
    width: 80px;
    padding: 5px;

    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #E5E7EB;
}

.placeholder-image {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    align-items: center;
    justify-content: center;

    color:#E5E7EB;
    background-color: lightslategray;
}



.content {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.content-title {
    display: flex;
    flex-direction: row;
    align-self: center;
 
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content-border{   
    padding: 10px;
    margin: 10px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fake-image {
    border: 5px solid;
    border-color: rgb(94, 136, 252);

    display: flex;
    flex: 0 1 100px;
    margin: 10px;
    border-radius: 15px;
}

.image-subtext {
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.quote-text {
    font-style: italic;
}

.quote-author {
    display: flex;
    align-self: flex-end;

    font-weight: 600;
}

.card {    
    padding: 100px;
}

.encart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.texte-encart {
    display: flex;
    flex-direction: column;
}

.titre {
    font-weight: 600;
}

.encart-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 5px;
    
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #E5E7EB;
    font-weight: 600;
}

.footer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px;

    background-color: #1F2937;
    color: #E5E7EB;
}

